/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.flex.left {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }

.flex.mid {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.flex.center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.flex.right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }

.flex.spread {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.flex.end {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }

.flex.start {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }

.flex.stack {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

@font-face {
  font-family: 'Theinhardt';
  src: url("assets/fonts/Theinhardt-Md.eot");
  src: url("assets/fonts/Theinhardt-Md.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Theinhardt-Md.woff") format("woff"), url("Theinhardt-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Theinhardt';
  src: url("assets/fonts/Theinhardt-Rg.eot");
  src: url("assets/fonts/Theinhardt-Rg.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Theinhardt-Rg.woff") format("woff"), url("fonts/Theinhardt-Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.app {
  z-index: 3;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(0) scale(1, 1);
  -moz-transform: translateY(0) scale(1, 1);
  -ms-transform: translateY(0) scale(1, 1);
  -o-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1); }

.container.hide {
  opacity: 0.0;
  -webkit-transform: translateY(-5%) scale(0.9, 0.9);
  -moz-transform: translateY(-5%) scale(0.9, 0.9);
  -ms-transform: translateY(-5%) scale(0.9, 0.9);
  -o-transform: translateY(-5%) scale(0.9, 0.9);
  transform: translateY(-5%) scale(0.9, 0.9); }

h1,
.h1 {
  font-size: 24px;
  line-height: 1.25em; }

h2,
.h2 {
  font-size: 24px;
  line-height: 1.25em; }

p {
  max-width: 460px;
  line-height: 1.25em; }

.semibold {
  font-weight: 500; }

.logo {
  width: 16vw;
  height: 16vw;
  margin-right: 8vw;
  margin-bottom: 3vw;
  padding-bottom: 100px;
  position: relative; }

.logo-nav > svg *,
.logo > svg * {
  fill: #FFFFFF; }


.logo-nav {
  position: fixed;
  z-index: 10;
  top: 15px;
  left: calc(50% - 34.55882px);
  width: 47px;
  height: 47px;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  transform: translateY(-150%); }

.logo-nav.reveal {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.progress-bar {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50; }

.progress-bar > .indicator {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: black; }

body {
  padding: 0;
  margin: 0;
  background: #000000;
  font-family: "Theinhardt", "Helvetica Neue", "Helvetica", "Arial";
  color: #FFFFFF;
  font-size: 18px;
  margin: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

*,
*:after,
*:before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

.no-input {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  pointer-events: none; }

.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.hide-element {
  opacity: 0.0;
  display: none;
  visibility: hidden; }

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0.75em;
  z-index: 4; }

nav > a {
  padding: 0.75em; }

header {
  width: 100%;
  height: calc(90vh);
  position: absolute;
  z-index: 50; }

.app {
  padding-top: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  position: absolute;
  top: 0; }

.article-container {
  background: black;
  height: auto;
  width: 100%; }

article {
  width: 100%;
  padding: 1em 1em;
  min-height: 320px;
  max-width: 1280px;
  margin: 0 auto; }

article.full {
  height: 100vh; }

article.half {
  height: 50vh; }

article.column-right {
  padding-left: 640px; }

article a {
  border-bottom: 1px solid white;
  padding-bottom: 0.1em; }

article a:hover {
  border-color: #21FFB5; }

.pad-top {
  margin-top: 1em; }

.pad-top-sm {
  margin-top: 0.5em; }

.indent {
  margin-left: 105px; }

#blackOverlay{
  background-color:#000;

  opacity:0.0;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
}

#info{

  position: absolute;
  display: none;
  font-size: 24px;
  top: 50%;
  left: 50%;
  padding-top: 65px;
  padding-left: 450px;
  margin-right: -50%;
  transform: translate(-50%, -50%) };

}
